<div class='container px-4 table-striped'>
  <h1 class='mt-3'>Deleted Courses</h1>
  <a href='/me/courses' class='text-decoration-none'>⬅ Back To My Courses</a>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Title</th>
        <th scope='col'>Level</th>
        <th scope='col' colspan='2'>Deleted At</th>
      </tr>
    </thead>
    <tbody>

      {{#each courses}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.title}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td><a href='' class='btn-restore' data-id={{this._id}}>Restore</a>
            |
            <a href='' type='button' data-bs-toggle='modal' data-bs-target='#deleteModal' data-bs-id={{this._id}}>Delete
              Permanently</a></td>
        </tr>
      {{else}}
        <td colspan='5' class='text-center'>No deleted course. <a href='/me/courses'>Back To My Courses</a></td>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class='modal fade'
  id='deleteModal'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='staticBackdropLabel'>Deleting Course</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        Are you sure you want to delete permanently? This action is irreversable!!!
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
        <button type='button' class='btn btn-danger' id='fetchButton'>Delete Permanently</button>
      </div>
    </div>
  </div>
</div>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script>
  $(document).ready(function() { const exampleModal = $('#deleteModal'); const restoreButton = $('.btn-restore');
  restoreButton.on('click', function(e) { e.preventDefault(); fetch(`/courses/edit/${$(this).data('id')}`, { method:
  'PATCH' }) .then(function(response) { if (response.ok) { window.location.href = '/me/courses/deleted-courses'; } });
  }); if (exampleModal.length) { exampleModal.on('show.bs.modal', function(event) { const button =
  $(event.relatedTarget); const id = button.data('bs-id'); const fetchButton = $('#fetchButton');
  fetchButton.on('click', function() { fetch(`/courses/delete/${id}`, { method: 'DELETE' }) .then(function(response) {
  if (response.ok) { window.location.href = '/me/courses/deleted-courses'; } }); }); }); } });

</script>