<div class='container px-4 table-striped'>
  <h1 class='mt-3'>My Courses</h1>
  <a href='/me/courses/deleted-courses' class='text-decoration-none'>🚮 Deleted Course ({{deleteCoursesCount}}) </a>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Title</th>
        <th scope='col'>Level</th>
        <th scope='col' colspan='2'>Created At</th>
      </tr>
    </thead>
    <tbody>

      {{#each courses}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.title}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td><a href='/courses/edit/{{this._id}}'>Edit</a>
            |
            <a
              href=''
              type='button'
              data-bs-toggle='modal'
              data-bs-target='#deleteModal'
              data-bs-id={{this._id}}
            >Delete</a></td>
        </tr>
      {{else}}
        <td colspan='5' class='text-center'>No course found. <a href='/courses/create'>Add Course</a></td>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class='modal fade'
  id='deleteModal'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='staticBackdropLabel'>Deleting Course</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        Are you sure you want to delete ?
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
        <button type='button' class='btn btn-danger' id='fetchButton'>Delete</button>
      </div>
    </div>
  </div>
</div>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script>
  $(document).ready(function() { const exampleModal = $('#deleteModal'); if (exampleModal.length) {
  exampleModal.on('show.bs.modal', function(event) { const button = $(event.relatedTarget); const id =
  button.data('bs-id'); const fetchButton = $('#fetchButton'); fetchButton.on('click', function() {
  fetch(`/courses/edit/${id}`, { method: 'DELETE' }) .then(function(response) { if (response.ok) { window.location.href
  = '/me/courses'; } }); }); }); } });

</script>