<div class='container px-4 table-striped'>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Title</th>
        <th scope='col'>Level</th>
        <th scope='col' colspan='2'>Created At</th>
      </tr>
    </thead>
    <tbody>

      {{#each courses}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.title}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td><a href='/courses/edit/{{this._id}}'>Edit</a> | <a href=''>Delete</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>